.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-gradient);
  border-radius: var(--radius-large);
  padding: var(--container-padding-regular);
  padding-top: calc(
    var(--hero-item-spacing) + var(--container-padding-regular)
  );
  padding-bottom: calc(
    var(--hero-item-spacing) + var(--container-padding-regular)
  );
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
}

.title {
  font-size: var(--font-large);
  text-align: center;
  font-weight: var(--font-weight-extra-bold);
}

.highlight {
  color: var(--text-purple);
}

.subtitle {
  font-size: var(--font-medium);
  text-align: center;
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--large-spacing);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
