.cardsContainer {
  display: flex;
  gap: var(--medium-spacing);
  flex-direction: column;
}

@media only screen and (min-width: 1025px) {
  .cardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
